
# Vivado project/build output regenerated locally.
vivado_gen/*
!vivado_gen/.gitkeep
!vivado_gen/*.xpr

# Vivado runtime files.
.Xil/
*.jou
*.log
*.debug
*.str
*.tmp
*.rst
*.os
*.pb
*.vds
*.wdf
*.vdi
*.dmp
*.rpx
*.rpt
*.backup.jou
*.backup.log
*_funcsim.v
*_funcsim.vhdl
.project

# Vivado generated directories.
.metadata/
*.cache/
*.data/
*.ipdefs/
*.sdk/
*.hw/
*.ip_user_files/
*.runs/
*.gen/
*.sim/
.jobs/
*_synth_*/

# Exported release/package output.
export/

# Vivado block-design/IP generated output products.
# Keep design intent files such as *.bd, HDL sources, and constraints.
SourceData/BlockDesign/**/.Xil/
SourceData/BlockDesign/**/ip/
SourceData/BlockDesign/**/ipshared/
SourceData/BlockDesign/**/sim/
SourceData/BlockDesign/**/synth/
SourceData/BlockDesign/**/hw_handoff/
SourceData/BlockDesign/**/ip/**/bd_*/
SourceData/BlockDesign/**/ip/**/hdl/
SourceData/BlockDesign/**/ip/**/sim_tlm/
SourceData/BlockDesign/**/ip/**/*.c
SourceData/BlockDesign/**/ip/**/*.h
SourceData/BlockDesign/**/ip/**/*.html
SourceData/BlockDesign/**/ip/**/*.tcl
SourceData/BlockDesign/**/ip/**/*.xdc
SourceData/BlockDesign/**/*.bda
SourceData/BlockDesign/**/*.bxml
SourceData/BlockDesign/**/*.dcp
SourceData/BlockDesign/**/*.hwdef
SourceData/BlockDesign/**/*.hwh
SourceData/BlockDesign/**/*.mem
SourceData/BlockDesign/**/*.protoinst
SourceData/BlockDesign/**/*.ui
SourceData/BlockDesign/**/*.xml
SourceData/BlockDesign/**/*.veo
SourceData/BlockDesign/**/*.vho
SourceData/BlockDesign/**/*_board.xdc
SourceData/BlockDesign/**/*_ooc.xdc
SourceData/BlockDesign/**/*_sim_netlist.v
SourceData/BlockDesign/**/*_sim_netlist.vhdl
SourceData/BlockDesign/**/*_stub.v
SourceData/BlockDesign/**/*_stub.vhdl
SourceData/BlockDesign/**/*_sv.sv
SourceData/BlockDesign/**/*_sv.sveo
